---
extends: default

ignore: |
  ansible/roles/*/templates/*.j2

rules:
  line-length:
    max: 180
    level: warning
  truthy:
    allowed-values:
      - "true"
      - "false"
    check-keys: false
