---
title: VPS Dashboard
description: Interne Übersicht der VPS-Dienste
language: de
target: _self
statusStyle: dot
hideVersion: true
disableUpdateCheck: true
disableIndexing: true

quicklaunch:
  hideInternetSearch: true
  hideVisitURL: true
  searchDescriptions: true

layout:
  Anwendungen:
    style: row
    columns: 3
  Infrastruktur:
    style: row
    columns: 3
  Systemstatus:
    style: row
    columns: 2
