services:
  traefik:
    image: "{{ traefik_image }}"
    container_name: traefik

    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network={{ traefik_network }}"
      - "--entrypoints.web.address=:80"

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

    networks:
      {{ traefik_network }}:
        ipv4_address: "{{ traefik_ip }}"

    restart: unless-stopped

networks:
  {{ traefik_network }}:
    external: true
